<?xml version="1.0"?>

<!--Gmail Email Settings-->
<appSettings>
  <add key="username" value="jtisdale1977@gmail.com"/>
  <add key="password" value="workfndjdhzjihzp"/>
  <add key="emailto" value="jtisdale1977@gmail.com"/>
  <add key="host" value="smtp.gmail.com"/>
  <add key="port" value="587"/>
</appSettings>
